.dr_tag_filter {
  display: flex;
  white-space: nowrap;
  width: 100%;
  .dr_tag_filter_item {
    flex: 0 0 auto;
    background-color: #eff0f1;
    color: #1f2329;
    border-radius: 6px;
    padding: 8px 16px;
    text-align: center;
    margin: 0 16px 16px 0;
  }
  .dr_tag_filter_item_active {
    background-color: #e1eaff;
    color: #3370ff;
  }
  div::-webkit-scrollbar {
    display: none;
  }
}
.dr_tag_filter_column {
}
